<!DOCTYPE html>
<html lang="en" ng-app="chatroomApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="./components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/style/room.css">
	
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a href="#" class="navbar-brand">chatroom</a>
			</div>
		</div>
	</div>
	<div class="container" style="margin-top:100px;">
		<div class="col-md-12">
			<div class="panel panel-default room" ng-controller="RoomCtrl">
				<div class="panel-heading room-header">chatroom</div>
				<div class="panel-body room-content">
					<div class="list-group messages" auto-scroll-to-bottom>
						<div class="list-group-item message" ng-repeat="message in messages"></div>
						啦啦啦：{{message}}
					</div>
					<form class="messages-creator" ng-controller="MessageCreatorCtrl">
						<div class="form-group">
							<textarea required class="form-control message-input" ng-model="newMessage" ctrl-enter-break-line="createMessage()" name="" id="" cols="30" rows="10" placeholder="ctrl+enter to quick send"></textarea>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>





	
</body>
<script type="text/javascript" src="./components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="./components/bootstrap/dist/js/bootstrap.min.js"></script>

<script type="text/javascript" src='./components/angular/angular.js'></script>
<script type="text/javascript" src="./components/angular/angular.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	
<script type="text/javascript" src="chatroom.js"></script>


	
</html>